// Note:
// Some text formatting uses mixins. Those are located in typography.scss.

// Default style for elements that have :focus-within
@mixin focus_within() {
	outline: 3px solid $color_purple;
}

// Down pointing triangle icon, used for sub menus and dropdowns
@mixin down_pointing_rectangle( $color ) {
	$color: '' + $color;

	$color: str-replace( $color, '#', '%23' );

	background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.26953 1.22157L5.8507 5.66602L10.6029 1.22157' stroke='" + $color + "' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Font size for headings
// <h1> -> <h6>

// Calculate a responsive font size based on original pixel values and screen width
@mixin respond_font_size( $desktop_px, $mobile_px, $responsive: true ) {

	font-size: $desktop_px;


	@if ( $responsive ) {
		// Scale fonts between 1920px and 1200px
		@media ( min-width: $break_above_desktop ) and ( max-width: $break_at_large_desktop ) {
			// 80px font size = 4.16vw on desktop
			// (80 / 1920) * 100 = 4.16vw
			$desktop_vw: calc( round( calc($desktop_px / $design_width) * 10000vw ) / 100 );
			font-size: min( $desktop_px, $desktop_vw );
		}

		// Scale mobile fonts between 1200px and 375px
		@media ( max-width: $break_at_desktop ) {
			// Similar calculation for mobile, but width based on design width (375px)

			// Designed <h1> is 36px on mobile
			// (36 / 375) * 100 = 9.6vw
			// $mobile_vw: round( ($mobile_px / $design_mobile_width) * 10000vw ) / 100;
			// font-size: min( $mobile_px, $mobile_vw );

			// On second thought, just use regular px for mobile.
			font-size: $mobile_px;
		}
	}
}

@mixin font_size_h1( $responsive: true ) {
	// 80px desktop, 36px mobile
	@include respond_font_size( $font_size_h1, $font_size_h1_mobile, $responsive );
	line-height: 1.4;
}

@mixin font_size_h2( $responsive: true ) {
	// 60px desktop, 32px mobile
	@include respond_font_size( $font_size_h2, $font_size_h2_mobile, $responsive );
	line-height: 1.25;
}

@mixin font_size_h3( $responsive: true ) {
	// 32px desktop, 24px mobile
	@include respond_font_size( $font_size_h3, $font_size_h3_mobile, $responsive );
	line-height: 1.25;
}

@mixin font_size_h4( $responsive: true ) {
	// 28px desktop, 18px mobile
	@include respond_font_size( $font_size_h4, $font_size_h4_mobile, $responsive );
	line-height: 1.25;
}

@mixin font_size_h5( $responsive: true ) {
	// 18px desktop, 18px mobile
	@include respond_font_size( $font_size_h5, $font_size_h5_mobile, $responsive );
	line-height: 1.25;
}

@mixin font_size_h6( $responsive: true ) {
	// 14px desktop, 14px mobile
	@include respond_font_size( $font_size_h6, $font_size_h6_mobile, $responsive );
	line-height: 1.25;
}

@mixin button_structure( $include_padding: true ) {
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	border-radius: 100px;
	@include button_padding( 'normal' );
}

@mixin button_padding( $type: 'normal' ) {
	@if $type == 'small' {
		padding: 4px 16px 7px;
	}
	@else {
		padding: 18px 48px;
	}
}

@mixin button_primary($color) {
	color: $color_white;

	@if $color == 'purple' {
		border: 1px solid $color_purple;
		background: $color_purple;
	}
	@else if $color == 'black' {
		border: 1px solid $color_black;
		background: $color_black;
	}
	@else if $color == 'blue' {
		border: 1px solid $color_blue;
		background: $color_blue;
	}
	@else if $color == 'white' {
		color: $color_black;
		border: 1px solid $color_white;
		background: $color_white;
	}
}

@mixin button_secondary($color) {
	@if $color == 'purple' {
		color: $color_purple;
		border: 1px solid $color_purple;
		background: $color_purple_lightest;
	}
	@else if $color == 'black' {
		color: $color_black;
		border: 1px solid $color_black;
		background: $color_black_lightest;
	}
	@else if $color == 'blue' {
		color: $color_blue;
		border: 1px solid $color_blue;
		background: $color_blue_lightest;
	}
	@else if $color == 'white' {
		color: $color_black;
		border: 1px solid $color_white;
		background: $color_black_light;
	}
}

@mixin button_outline($color) {
	background: transparent;

	@if $color == 'purple' {
		color: $color_purple;
		border: 1px solid $color_purple;
	}
	@else if $color == 'black' {
		color: $color_black;
		border: 1px solid $color_black;
	}
	@else if $color == 'blue' {
		color: $color_blue;
		border: 1px solid $color_blue;
	}
	@else if $color == 'white' {
		color: $color_white;
		border: 1px solid $color_white;
		background: $color_black;
	}
}

@mixin button_text($color) {
	background: transparent;
	border: 1px solid transparent;

	@if $color == 'purple' {
		color: $color_purple;
	}
	@else if $color == 'black' {
		color: $color_black;
	}
	@else if $color == 'blue' {
		color: $color_blue;
	}
	@else if $color == 'white' {
		color: $color_white;
	}
}

@mixin button_transitions() {
	transition: all 0.2s ease-in-out;
}

@mixin vertical_margins {
	.vertical-margin-none {
		margin-top: 0;
		margin-bottom: 0;
		:last-child > &:last-child { margin-bottom: 0; }
	}
	.vertical-margin-x-small {
		margin-top: 16px;
		margin-bottom: 16px;
		:last-child > &:last-child { margin-bottom: 0; }
	}
	.vertical-margin-small {
		margin-top: 24px;
		margin-bottom: 24px;
		:last-child > &:last-child { margin-bottom: 0; }
	}
	.vertical-margin-medium {
		margin-top: 40px;
		margin-bottom: 40px;
		:last-child > &:last-child { margin-bottom: 0; }
	}
	.vertical-margin-large {
		margin-top: 80px;
		margin-bottom: 80px;
		:last-child > &:last-child { margin-bottom: 0; }
	}
	.vertical-margin-huge {
		margin-top: 150px;
		margin-bottom: 150px;
		:last-child > &:last-child { margin-bottom: 0; }
	}
}

@mixin site-content-width() {
	margin-left: auto;
	margin-right: auto;

	@media ( min-width: $site_content_width ) {
		max-width: $site_content_width;
	}

	// Keep the main content at the correct ratio of total width to match the design
	// 81.25% = 1560px / 1920px
	// 83.33% = 1600px / 1920px
	@media ( min-width: $break_above_desktop ) and ( max-width: $design_width ) {
		width: clamp( $break_above_desktop, 85%, $design_width );

		body .editor-styles-wrapper & {
			width: auto !important; /* Do not clamp in editor */
		}
	}
}

@mixin site-gutters() {
	padding-left: $site_gutter_width;
	padding-right: $site_gutter_width;

	@media ( min-width: $break_at_tablet ) and ( max-width: $break_at_desktop ) {
		padding-left: $site_gutter_width_tablet;
		padding-right: $site_gutter_width_tablet;
	}
}

@function respond_vw( $px ) {
	// px: 75px
	// width: 1920px
	// vw: 3.90625vw
	// (75 / 1920 = 0.0390625)
	$vw: calc($px / $design_width) * 100vw;

	@return min( $px, $vw );
}







// Body styles
// Typically applied to the <body> element.
// With Gutenberg, this is applied to the "body .editor-styles-wrapper" selector instead.
// The classic editor uses $responsive = false
@mixin body_styles( $responsive: true ) {
	font-family: $font_family_body;
	font-weight: 300;
	line-height: 1.4;
	-webkit-font-smoothing: subpixel-antialiased; // or: antialiased
	// text-wrap: balance;

	@media ( max-width: $break_above_mobile ) {
		line-height: 1.5;
	}

	// Desktop
	font-size: $font_size_body;

	// Phone
	// @media ( max-width: $break_at_desktop ) {
	// 	font-size: $font_size_body_mobile;
	// }
}

// Theme styles
// The classic editor uses $responsive = false
@mixin theme_styles( $responsive: true ) {

	// Font sizes
	h1, // h1 too big, use h2 size. consider adding heading-page-title class
	h2 { @include font_size_h2( $responsive ); }
	h3 { @include font_size_h3( $responsive ); }
	h4 { @include font_size_h4( $responsive ); }
	h5 { @include font_size_h5( $responsive ); }
	h6 { @include font_size_h6( $responsive ); }

	// Base typography
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
		margin: 0 0 15px;
	}

	p, ul, ol {
		margin: 0 0 15px;

		@media ( max-width: $break_at_desktop ) {
			margin-bottom: 12px;
		}
	}

	strong {
		font-weight: 700;
	}

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: $color_purple;
		}
	}

	// Links with icons
	a:has(.gcm-icon) {
		display: inline-grid;
		grid-template-columns: 1fr auto;
		gap: 12px;
		text-decoration: none;

		&:hover {
			color: $color_blue;
			text-decoration: underline;
		}

		& .gcm-icon {
			display: block;
			height: 24px;
		}

		& .gcm-icon .icon-frame {
			width: 14px;
			height: 14px;
			padding: 5px;
		}

		& .gcm-icon .icon-frame svg {
			width: 20px;
			height: 20px;
			margin: -3px;
		}
	}

}


// Visual Editor and Gutenberg Block element styles
// see editor.php
// see blocks.php
@mixin editor_formats() {
	.font-sofia-pro { font-family: $font_family_body; }

	.text-color-purple { color: $color_purple; }
	.text-color-purple-light { color: $color_purple_light; }
	.text-color-purple-lightest { color: $color_purple_lightest; }

	.text-color-blue { color: $color_blue; }
	.text-color-blue-light { color: $color_blue_light; }
	.text-color-blue-lightest { color: $color_blue_lightest; }

	.text-color-black { color: $color_black; }
	.text-color-black-light { color: $color_black_light; }
	.text-color-black-lightest { color: $color_black_lightest; }

	.text-color-white { color: $color_white; }

	.text-lowercase { text-transform: lowercase; }
	.text-uppercase { text-transform: uppercase; }

	.text-sans-serif { font-family: $font_family_sans_serif; }
	.text-serif { font-family: $font_family_serif; }

	.heading-eyebrow-text {
		// Text style for "eyebrow" headings. Typically an <h6>
		// This is the small blue text that appears before titles on most pages/sections, including the contact us text in the footer
		color: $color_text_blue;
		font-weight: 300;
		text-transform: uppercase;
	}

	.heading-h1, // h1 too big, use h2 size. consider adding heading-page-title class
	.heading-h2 { @include font_size_h2(); }
	.heading-h3 { @include font_size_h3(); }
	.heading-h4 { @include font_size_h4(); }
	.heading-h5 { @include font_size_h5(); }
	.heading-h6 { @include font_size_h6(); }

	.heading-page-title { @include font_size_h1(); }

}

// Block editor formats
// see blocks.js
@mixin block_formats() {

	/*
	Group Styles
	*/


	/*
	Rounded Styles
	*/

	// Rounded (100%)
	.wp-block-image .is-style-rounded img,
	.wp-block-image.is-style-rounded img,
	.wp-block-group.is-style-rounded {
		border-radius: 100%;
		overflow: hidden;
	}

	// Rounded (Hero)
	.wp-block-image .is-style-rounded-hero img,
	.wp-block-image.is-style-rounded-hero img,
	.wp-block-group.is-style-rounded-hero {
		border-radius: 24px 100px;
		overflow: hidden;

		@media ( max-width: $break_at_desktop ) {
			border-radius: 10px 45px; // 10.712px 44.634px
		}
	}

	// Rounded (8px)
	.wp-block-image .is-style-rounded-8px img,
	.wp-block-image.is-style-rounded-8px img,
	.wp-block-group.is-style-rounded-8px {
		border-radius: 8px;
		overflow: hidden;

		@media ( max-width: $break_at_desktop ) {
			border-radius: 6px; // 5.8px
		}
	}

	// Rounded (32px)
	.wp-block-image .is-style-rounded-32px img,
	.wp-block-image.is-style-rounded-32px img,
	.wp-block-group.is-style-rounded-32px {
		border-radius: 32px;
		overflow: hidden;

		@media ( max-width: $break_at_desktop ) {
			border-radius: 20px;
		}
	}
}

// Gutenberg button block
@mixin gutenberg_buttons {
	.wp-block-button {

		// Purple (default if no other color selected)
		& {
			.wp-block-button__link {
				@include button_transitions();

				@include button_primary( 'purple' );
				&:hover { @include button_secondary( 'purple' ); }
			}
		}

		// Purple, secondary
		&.button-style-secondary {
			.wp-block-button__link {
				@include button_secondary( 'purple' );
				&:hover { @include button_primary( 'purple' ); }
			}
		}

		// Purple, outline
		&.button-style-outline {
			.wp-block-button__link {
				@include button_outline( 'purple' );
				&:hover { @include button_primary( 'purple' ); }
			}
		}

		// Purple, text
		&.button-style-text {
			.wp-block-button__link {
				@include button_text( 'purple' );
				&:hover { @include button_outline( 'purple' ); }
			}
		}

		// Blue
		&.button-color-blue {

			&.button-style-primary {
				.wp-block-button__link {
					@include button_primary( 'blue' );
					&:hover { @include button_secondary( 'blue' ); }
				}
			}

			// Blue, secondary
			&.button-style-secondary {
				.wp-block-button__link {
					@include button_secondary( 'blue' );
					&:hover { @include button_primary( 'blue' ); }
				}
			}

			// Blue, outline
			&.button-style-outline {
				.wp-block-button__link {
					@include button_outline( 'blue' );
					&:hover { @include button_primary( 'blue' ); }
				}
			}

			// Blue, text
			&.button-style-text {
				.wp-block-button__link {
					@include button_text( 'blue' );
					&:hover { @include button_outline( 'blue' ); }
				}
			}

		}

		// Black
		&.button-color-black {

			&.button-style-primary {
				.wp-block-button__link {
					@include button_primary( 'black' );
					&:hover { @include button_secondary( 'black' ); }
				}
			}

			// Black, secondary
			&.button-style-secondary {
				.wp-block-button__link {
					@include button_secondary( 'black' );
					&:hover { @include button_primary( 'black' ); }
				}
			}

			// Black, outline
			&.button-style-outline {
				.wp-block-button__link {
					@include button_outline( 'black' );
					&:hover { @include button_primary( 'black' ); }
				}
			}

			// Black, text
			&.button-style-text {
				.wp-block-button__link {
					@include button_text( 'black' );
					&:hover { @include button_outline( 'black' ); }
				}
			}

		}

		// White
		&.button-color-white {

			&.button-style-primary {
				.wp-block-button__link {
					@include button_primary( 'white' );
					&:hover { @include button_secondary( 'white' ); }
				}
			}

			// White, secondary
			&.button-style-secondary {
				.wp-block-button__link {
					@include button_primary( 'white' );
					&:hover { @include button_secondary( 'white' ); }
				}
			}

			// White, outline
			&.button-style-outline {
				.wp-block-button__link {
					@include button_outline( 'white' );
					&:hover { @include button_primary( 'white' ); }
				}
			}

			// White, text
			&.button-style-text {
				.wp-block-button__link {
					@include button_text( 'white' );
					&:hover { @include button_outline( 'white' ); }
				}
			}

		}
	}
}
