/*
CSS Reset
*/
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body, ol, ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	overflow-wrap: break-word;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}