$design_width: 1920px;
$design_mobile_width: 375px;

// Breakpoints
// 1. Use with @media (max-width)
$break_at_small_mobile: 320px;
$break_at_mobile: 480px;
$break_at_tablet: 782px;
$break_at_desktop: 1200px; // or 1560?
$break_at_large_desktop: 1920px; // the site was originally designed at this resolution

// 2. Use with @media (min-width)
$break_above_small_mobile: $break_at_small_mobile + 0.1px;
$break_above_mobile: $break_at_mobile + 0.1px;
$break_above_tablet: $break_at_tablet + 0.1px;
$break_above_desktop: $break_at_desktop + 0.1px;
$break_above_large_desktop: $break_at_large_desktop + 0.1px;

// Specific sizes
$site_content_width: 1600px; // 1560px without gutter
$site_gutter_width: 20px; // Left/right padding to prevent elements touching the edge of the screen

$site_gutter_width_tablet: 40px;

//  Usage #1:
//  @media ( max-width: $break_at_mobile ) {
//  	Mobile - These styles only appear on mobile
//  }
//
//  Usage #2:
//  @media ( min-width: $break_above_mobile ) {
//  	Desktop - These styles do NOT appear on mobile
//  }

// Font families
$font_family_sans_serif: sofia-pro, Helvetica, Arial, sans-serif;
$font_family_serif: 'Abhaya Libre', serif;

// Generic families
$font_family_body: $font_family_sans_serif;

// Base Colors
// Also see theme.json for colors used in Gutenberg blocks, w hich adds the corresponding CSS variables to the :root element

$color_purple: #9069ac;                   // --wp--preset--color--purple
$color_purple_light: #e6c8ff;             // --wp--preset--color--light-purple
$color_purple_lightest: #faf4ff;          // --wp--preset--color--lightest-purple

$color_blue: #0957de;                     // --wp--preset--color--blue
$color_blue_light: #c9dcfd;               // --wp--preset--color--light-blue
$color_blue_lightest: #f4f8ff;            // --wp--preset--color--lightest-blue

$color_white: #ffffff;                    // --wp--preset--color--white
$color_dark_purple: #68626e;              // --wp--preset--color--dark-purple
$color_black: #0e0d0d;                    // --wp--preset--color--black

$color_gray_10: #fafafa; // old: #fbfbfb  // --wp--preset--color--gray-10
$color_gray_8: #f1f1f1;                   // --wp--preset--color--gray-8
// $color_gray_7: #ECEAEA;                   // --wp--preset--color--gray-6
$color_gray_6: #e7e7e7;                   // --wp--preset--color--gray-6
$color_gray_4: #e3e3e3;                   // --wp--preset--color--gray-4
$color_gray_2: #3e3e3e;                   // --wp--preset--color--gray-2

// Aliases
$color_text_primary: $color_black;
$color_text_secondary: $color_dark_purple;
$color_text_purple: $color_purple;
$color_text_blue: $color_blue;

$color_black_light: $color_gray_4;
$color_black_lightest: #fafafa; // old: #fafaff

// Font Sizes
$font_size_base: 16px; // must be in px

@function font_size_to_em( $pixels ) {
	@return $pixels / $font_size_base * 1em;
}

// px converted to ems:
$font_size_body: 16px;
$font_size_body_mobile: 18px;

$font_size_large: 18px;
$font_size_regular: 16px;
$font_size_small: 14px;
$font_size_x_small: 12px;

$font_size_h1: 80px;
$font_size_h2: 60px;
$font_size_h3: 32px;
$font_size_h4: 28px;
$font_size_h5: 18px;
$font_size_h6: 14px;
$font_size_h1_mobile: 36px;
$font_size_h2_mobile: 32px;
$font_size_h3_mobile: 24px;
$font_size_h4_mobile: 18px;
$font_size_h5_mobile: 18px;
$font_size_h6_mobile: 14px;

$font_size_button: 16px;
$font_size_button_mobile: 16px;

/*
body {
	// Font Families
	--font-sofia-pro: #{$font_family_body};
	--font-abhaya-libre: #{$font_family_serif};

	// Colors
	--color-purple: #{$color_purple};
	--color-purple-light: #{$color_purple_light};
	--color-purple-lightest: #{$color_purple_lightest};

	--color-blue: #{$color_blue};
	--color-blue-light: #{$color_blue_light};
	--color-blue-lightest: #{$color_blue_lightest};

	--color-white: #{$color_white};
	--color-dark-purple: #{$color_dark_purple};
	--color-black: #{$color_black};

	--color-gray-10: #{$color_gray_10};
	--color-gray-8: #{$color_gray_8};
	--color-gray-6: #{$color_gray_6};
	--color-gray-4: #{$color_gray_4};
	--color-gray-2: #{$color_gray_2};

	--color-text-primary: #{$color_text_primary};
	--color-text-secondary: #{$color_text_secondary};

	--color-text-purple: #{$color_text_purple};
	--color-text-blue: #{$color_text_blue};
	--color-black-light: #{$color_black_light};
	--color-black-lightest: #{$color_black_lightest};

	// Font Sizes
	--font-size-body: #{$font_size_body};
	--font-size-body-mobile: #{$font_size_body_mobile};

	--font-size-large: #{$font_size_large};
	--font-size-regular: #{$font_size_regular};
	--font-size-small: #{$font_size_small};
	--font-size-x-small: #{$font_size_x_small};

	--font-size-h1: #{$font_size_h1};
	--font-size-h2: #{$font_size_h2};
	--font-size-h3: #{$font_size_h3};
	--font-size-h4: #{$font_size_h4};
	--font-size-h5: #{$font_size_h5};
	--font-size-h6: #{$font_size_h6};

	--font-size-h1-mobile: #{$font_size_h1_mobile};
	--font-size-h2-mobile: #{$font_size_h2_mobile};
	--font-size-h3-mobile: #{$font_size_h3_mobile};
	--font-size-h4-mobile: #{$font_size_h4_mobile};
	--font-size-h5-mobile: #{$font_size_h5_mobile};
	--font-size-h6-mobile: #{$font_size_h6_mobile};

	--font-size-button: #{$font_size_button};
	--font-size-button-mobile: #{$font_size_button_mobile};
}

// Figma Variables -- Do not use!
// If any of these variables are used in another SCSS file, replace it as dictated below.
body.figma-variables {
	// Colors - Figma variables (aliases)
	--grey: var( --color-gray_4 );
	--white: var( --color-white );
	--black: var( --color-black );
	--secondary-text: var( --color-dark-purple );
	--bg: var( --color-gray-10 );
	--primary-violet: var( --color-purple );
	--primary-blue: var( --color-blue );

	// Font Sizes - Figma variables (aliases)
	--button: var( --font-size-button );
	--h1: var( --font-size-h1 );
	--h2: var( --font-size-h2 );
	--h3: var( --font-size-h3 );
	--h4: var( --font-size-h4 );
	--h5: var( --font-size-h5 );
	--mobile---h1: var( --font-size-h1-mobile );
	--mobile---h2: var( --font-size-h2-mobile );
	--mobile---h3: var( --font-size-h3-mobile );
	--mobile---h4: var( --font-size-h4-mobile );
	--mobile---h4-light: var( --font-size-h4-mobile );
	--mobile---h3-light--uppercase: var( --font-size-h3-mobile );
	--body--light: var( --font-size-body );
	--body--light--uppercase: var( --font-size-body );
	--body--medium: var( --font-size-body );
	--small--light--uppercase: var( --font-size-small );
	--small--light: var( --font-size-small );
	--small-2--medium: var( --font-size-x-small );
	--small-2--light: var( --font-size-x-small );

	// (These didn't exist in Figma. I added them for consistency.)
	--h6: var( --font-size-h6 );
	--body--mobile: var( --font-size-large );
	--mobile---h5: var( --font-size-h5-mobile );
	--mobile---h6: var( --font-size-h6-mobile );
}
*/

// Border width based on pixel ratio
// 1.5x pixel ratio = 1.5px border width
body {
	--border-1px-width: 1px;
	--border-2px-width: 2px;

	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
		--border-1px-width: 1.5px;
		--border-2px-width: 3px;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
		--border-1px-width: 2px;
		--border-2px-width: 4px;
	}
}