// Breakpoints
// 1. Use with @media (max-width)
$break_at_mobile: 480px;
$break_at_tablet: 768px;
$break_at_desktop: 1200px;

// 2. Use with @media (min-width)
$break_above_mobile: $break_at_mobile + 0.1px;
$break_above_tablet: $break_at_tablet + 0.1px;
$break_above_desktop: $break_at_desktop + 0.1px;

// Specific sizes
$site_content_width: 1560px;
$site_gutter_width: 12px; // Left/right padding to prevent elements touching the edge of the screen

/*
Usage #1:
@media ( max-width: $break_at_mobile ) {
	Mobile - These styles only appear on mobile
}

Usage #2:
@media ( min-width: $break_above_mobile ) {
	Desktop - These styles do NOT appear on mobile
}
*/

// Font families
$font_family_body: sofia-pro, Helvetica, Arial, sans-serif;

// Base Colors
$color_true_white: #ffffff;
$color_true_black: #000000;

$color_white: #ffffff;
$color_gray_10: #fafafa; // old: #fbfbfb
$color_gray_8: #f1f1f1;
$color_gray_7: #e7e7e7; // this is very close to #e3e3e3 so maybe we should just combine them?
$color_gray_6: #e3e3e3;
$color_gray_4: #3e3e3e;
$color_black: #0e0d0d;

$color_purple: #9069ac;
$color_blue: #0957de;
$color_dark_purple: #68626e;

// Focus color (used when input/links are tabbed to with keyboard)
$color_focus: $color_purple;

// Colors used for text
$color_text_primary: $color_black;
$color_text_secondary: $color_dark_purple;
$color_text_purple: $color_purple;
$color_text_blue: $color_blue;

// Colors used in icons
// https://radleysustaire.com/s3/d8f3ec/chrome
$color_purple_solid: $color_purple;  // used on: primary button backgrounds, borders, text colors
$color_purple_fill: #e6c8ff;         // the darker fill of a 3-tone icon.
$color_purple_fill_light: #faf4ff;   // the lighter fill of a 3-tone icon. purple @ 5% opacity

$color_blue_solid: $color_blue;
$color_blue_fill: #c9dcfd;
$color_blue_fill_light: #f4f8ff; // old: F4F9FF

$color_black_solid: $color_black;
$color_black_fill: $color_gray_6;
$color_black_fill_light: #fafafa; // old: #fafaff