/* Buttons! */
.button {
	@include button_structure();

	&:focus-within {
		@include focus_within;
		outline-color: inherit;
	}
}

.button-text {
	padding-left: 40px;
	padding-right: 40px;
}

.button-small {
	// Based on the button in the post archive cards used for the category
	// Note: Added a few pixels to the bottom to properly align the font
	@include button_padding('small');
}

// ----------
// Default buttons
// ----------

.button {

	// Purple, solid, primary
	& {
		@include button_transitions();

		@include button_primary( 'purple' );
		&:hover { @include button_secondary( 'purple' ); }
	}

	// Purple, faded
	&.button-secondary {
		@include button_secondary( 'purple' );
		&:hover { @include button_primary( 'purple' ); }
	}

	// Purple, outline
	&.button-outline {
		@include button_outline( 'purple' );
		&:hover { @include button_primary( 'purple' ); }
	}

	// Purple, text
	&.button-text {
		@include button_text( 'purple' );
		&:hover { @include button_outline( 'purple' ); }
	}

	// Blue, solid
	&.button-blue {
		& {
			@include button_primary( 'blue' );
			&:hover { @include button_secondary( 'blue' ); }
		}

		// Blue, faded
		&.button-secondary {
			@include button_secondary( 'blue' );
			&:hover { @include button_primary( 'blue' ); }
		}

		// Blue, outline
		&.button-outline {
			@include button_outline( 'blue' );
			&:hover { @include button_primary( 'blue' ); }
		}

		// Blue, text
		&.button-text {
			@include button_text( 'blue' );
			&:hover { @include button_outline( 'blue' ); }
		}
	}

	// Black, solid
	&.button-black {
		& {
			@include button_primary( 'black' );
			&:hover { @include button_secondary( 'black' ); }
		}

		// Black, faded
		&.button-secondary {
			@include button_secondary( 'black' );
			&:hover { @include button_primary( 'black' ); }
		}

		// Black, outline
		&.button-outline {
			@include button_outline( 'black' );
			&:hover { @include button_primary( 'black' ); }
		}

		// Black, text
		&.button-text {
			@include button_text( 'black' );
			&:hover { @include button_outline( 'black' ); }
		}
	}

	// White, solid
	&.button-white {
		& {
			@include button_primary( 'white' );
			&:hover { @include button_secondary( 'white' ); }
		}

		// White, faded
		&.button-secondary {
			@include button_primary( 'white' );
			&:hover { @include button_secondary( 'white' ); }
		}

		// White, outline
		&.button-outline {
			@include button_outline( 'white' );
			&:hover { @include button_primary( 'white' ); }
		}

		// White, text
		&.button-text {
			@include button_text( 'white' );
			&:hover { @include button_outline( 'white' ); }
		}
	}
}

// Ajax Load More button is very specific
.alm-btn-wrap .button.button-secondary.alm-load-more-btn {
	@include button_structure();
	@include button_secondary( 'purple' );
	&:hover { @include button_primary( 'purple' ); }

	box-sizing: content-box;
	height: auto;

	&.loading { @include button_primary( 'purple' ); }
	&.loading::before { display: none !important; }

	&.done { display: none !important; }
}