/* buttons */
.button {
	padding: 14px 48px;
	line-height: 1;
	text-decoration: none;
	border-radius: 100px;
}

@mixin button_primary {
	color: $color_white;
	border: 1px solid $color_purple;
	background: $color_purple;
}

@mixin button_secondary {
	color: $color_purple;
	border: 1px solid $color_purple;
	background: $color_purple_fill_light;
}

.button-primary {
	@include button_primary;
	&:hover {
		@include button_secondary;
	}
}

.button-secondary {
	@include button_secondary;
	&:hover {
		@include button_primary;
	}
}

.button {
	&:focus-within {
		border-color: #fff;
		@include focus_within;
	}
}