/* Header */

@media ( min-width: $break_above_desktop ) {
	/* Desktop */
	.site-header .row {
		padding: 14px 0;
	}

	/* Top row */
	.site-header .row.top .inside {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}

	.site-header .row.top .header-locations {
		grid-row: 1;
		grid-column: 1;
	}

	.site-header .row.top .header-logo {
		grid-row: 1;
		grid-column: 2;
	}

	.site-header .row.top .header-links {
		grid-row: 1;
		grid-column: 3;
	}

	/* Bottom row */
	.site-header .row.bottom {
		border-top: 1px solid $color_gray_6;
		border-bottom: 1px solid $color_gray_6;
	}

	/* Menu */
	.site-header #primary-menu {
		grid-row: 2;
		grid-column: 1 / 4;
	}

	/* Links (Language and button) */
	.site-header .header-links {
		display: grid;
		grid-template-columns: auto auto;
		margin-left: auto;
		align-items: center;
	}

	.site-header .major-button {
		margin-left: 32px;
	}
}

/* header font sizes */
.site-header .header-locations {
	font-size: 12px;
}

.site-header .language-list {
	font-size: 14px;
}

/* logo */
.header-logo a {
	display: block;
}

.header-logo img {
	width: 100%;
	max-width: 172px;
}

/* header button */
.row .major-button a.button {
	font-weight: 500;
}

/*
START: Header location
*/
.header-locations .location .title,
.header-locations .location .address {
	margin: 0 0 5px;
}

.header-locations .location .title {
	font-size: inherit;
	font-weight: 300;
}

// Align icons in header with text, adjusting for white space in the icon
.header-locations .gcm-icon {
	width: 17px;
	margin-left: -3px;
}

// Bold icons in the header because they are scaled down
.header-locations .gcm-icon svg path {
	stroke-width: 3px !important;
}

// Temporarily hide 2nd location @todo
.header-locations .location:not(:first-child) {
	display: none;
}
/*
END: Header location
*/