/* Header */

@media ( min-width: $break_above_desktop ) {
	/* Desktop */
	.site-header {
	}

	.header-row {
		padding: 16px 0;
	}

	.header-row .inside {
		max-width: 1560px;
		margin: 0 auto;
	}

	/* Top row */
	.header-row.top .inside {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}

	.header-row.top .header-location {
		grid-row: 1;
		grid-column: 1;
	}

	.header-row.top .header-logo {
		grid-row: 1;
		grid-column: 2;
	}

	.header-row.top .header-links {
		grid-row: 1;
		grid-column: 3;
	}

	/* Bottom row */
	.header-row.bottom {

	}

	.header-row.bottom #primary-menu {
		grid-row: 2;
		grid-column: 1 / 4;
	}

	/* Right */
	.header-row.top .header-links {
		display: grid;
		grid-template-columns: auto auto;
		margin-left: auto;
	}

	.header-row .major-button {
		margin-left: 32px;
	}
}

@media ( max-width: $break_desktop ) {
	/* smaller than desktop */
}

/* header font sizes */
.header-row .header-location {
	font-size: 11px;
}

.header-row .language-list {
	font-size: 14px;
}

/* logo */
.header-logo a {
	display: block;
}

.header-logo img {
	width: 100%;
	max-width: 172px;
}

/* header button */
.header-row .major-button a.button {
	font-weight: 500;
}