body {
	@include body_styles( true );
}

.inside {
	@include site-content-width();
	@include site-gutters();
}

.site-content {
	background: $color_gray_10;
	// padding: 90px 0;
}

.wp-block-group p,
.wp-block-group ul,
.wp-block-group ol {
	color: $color_dark_purple;
}


ul,
ol {
	padding-left: 2ch;
}

li {
	margin-bottom: 5px;
}

// Admin bar on front-end
#wpadminbar .quicklinks {
	display: grid;
	grid-template-columns: auto auto;
	height: 100%;
}

#wpadminbar .quicklinks ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}

#wpadminbar .quicklinks ul:last-child {
	margin: 0 0 0 auto;
}
