@include theme_styles( true );

body {
	@include body_styles( true );
}

.inside {
	@include site-content-width();
	@include site-gutters();
}

.site-content {
	background: $color_gray_10;
	// padding: 90px 0;
}

.wp-block-group p,
.wp-block-group ul,
.wp-block-group ol {
	color: $color_dark_purple;
}


ul,
ol {
	padding-left: 2ch;
}

li {
	margin-bottom: 5px;
}

ul {
	padding-left: 16px;
}

li {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&::marker {
		color: #e6c8ff;
	}
}

a {
	color: $color_blue;

	&:hover {
		color: $color_purple;
	}
}

// Admin bar on front-end
#wpadminbar {

	&:not(:hover):not(:focus-within) {
		overflow-x: hidden;

		#wp-toolbar,
		#wp-admin-bar-root-default,
		#wp-admin-bar-top-secondary {
			height: 32px;
			background: #1d2327;

			@media screen and (max-width: 782px) {
				height: 46px;
			}
		}

		#wp-admin-bar-root-default {
			overflow-x: hidden;
		}
	}

	#wp-toolbar {
		display: grid;
		grid-template-columns: minmax(0, 1fr) auto;
	}

	#wp-admin-bar-root-default {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		min-width: 0;
		margin-right: -50vw;

		& > li {
			flex-shrink: 0;
			& > a { white-space: nowrap; }
		}
	}

	#wp-admin-bar-top-secondary {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		white-space: nowrap;

		margin-left: auto;

		#wp-admin-bar-my-account  > .ab-item {
			padding: 0 8px;

			@media screen and (max-width: 782px) {
				padding: 0;
			}
		}

		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			bottom: 0;
			width: 30px;
			background: linear-gradient( -90deg, #1d2327 0%, #1d232700 100% );
		}
	}
}