/*
Reusable formats
*/

// <html>
@mixin font_size_base {
	font-size: 16px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 18px;
	}
}

// <h1> -> <h6>
@mixin font_size_h1 {
	font-size: 80px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 36px;
	}
}

@mixin font_size_h2 {
	font-size: 60px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 32px;
	}
}

@mixin font_size_h3 {
	font-size: 32px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 24px;
	}
}

@mixin font_size_h4 {
	font-size: 28px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 18px;
	}
}

@mixin font_size_h5 {
	font-size: 18px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 18px;
	}
}

@mixin font_size_h6 {
	font-size: 18px;
	@media ( max-width: $break_at_desktop ) {
		font-size: 18px;
	}
}

// Text style for "eyebrow" headings. Typically an <h6>
// This is the small blue text that appears before titles on most pages/sections
@mixin font_style_eyebrow {
	color: $color_text_blue;
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}

/*
Font sizes
*/
html {
	@include font_size_base;

	line-height: 1.4;

	@media ( max-width: $break_above_mobile ) {
		line-height: 1.5;
	}
}

h1 { @include font_size_h1; }
h2 { @include font_size_h2; }
h3 { @include font_size_h3; }
h4 { @include font_size_h4; }
h5 { @include font_size_h5; }
h6 { @include font_size_h6; }