// Block sections
// HORIZONTAL
.container-style-section {
	@extend .article-section;

	&:not(.alignfull) {
		@extend .article-width;
	}
}

.container-style-section-height {
	@extend .article-section;
}

.container-style-section-width {
	@extend .article-width;
}

article > .container-style-section:first-child {
	// First section has less top padding
	&:first-child {
		padding-top: respond_vw( 92px );

		@media ( max-width: $break_at_desktop ) {
			padding-top: 60px;
		}
	}
}

.article-width {
	@include site-content-width();
	@include site-gutters();
}

.article-section {
	// Top padding
	// padding-top: 75px;
	// padding-top: respond_vw( 75px ); // 75px / 1920px = 0.0390625
	padding-top: respond_vw( 150px ); // 75px / 1920px = 0.0390625

	@media ( max-width: $break_at_desktop ) {
		padding-top: 80px;
	}

	// Bottom padding
	// padding-bottom: 150px;
	padding-bottom: respond_vw( 150px );

	@media ( max-width: $break_at_desktop ) {
		padding-bottom: 80px;
	}
}

// Vertical margins
@include vertical_margins();

// Container styles
.container-style-card,
.container-style-card-small {
	border-radius: 18px;
	border: 0.859px solid $color_gray_6; // #ECEAEA
	background: $color_white;
}

.container-style-card {
	padding: 24px;
}

.container-style-card-small {
	padding: 20px;

	@media ( max-width: $break_at_tablet ) {
		padding: 14px;
	}
}

.container-style-floating-bg {
	position: relative;
}

.container-style-floating-bg * {
	z-index: 2;
}

.container-style-stretch-columns,
.container-style-stretch-columns > .wp-block-column,
body .is-layout-flex.container-style-stretch-columns,
body .is-layout-flex.container-style-stretch-columns > .wp-block-column {
	display: flex !important;
	align-self: stretch;
}

.container-style-space-between,
body .is-layout-flex > .container-style-space-between,
.container-style-space-between > .wp-block-column,
body .is-layout-flex > .container-style-space-between > .wp-block-column {
	justify-content: space-between;
}

// Card style inside a block, equal heights, aligned the last gap item on bottom
// See 3 cards on front page, link is aligned bottom
@media ( min-width: $break_above_desktop ) {
	.wp-block-columns:has(.container-style-card) {
		align-items: stretch !important;

		& > .wp-block-column > .wp-block-group {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.wp-block-group[class*="gap-"] {
			height: 100%;

			& > :last-child {
				margin-top: auto;
			}
		}
	}
}

// Container style: Floating background (for use on 3 column grid, front page, About Us section)
@media ( max-width: $break_at_tablet ) {
	.container-style-floating-bg {
		background: #fff;
	}
}

@media ( min-width: $break_above_tablet ) {
	.container-style-floating-bg::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;

		background: #fff;
		left: 23%;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 100px 0 0 100px;
	}
}

// Mobile items centered
.mobile-items-center {
	@media ( max-width: $break_at_tablet ) {
		display: flex;
		flex-direction: column;
		text-align: center;

		& > .vertical-margin-none,
		& > .vertical-margin-x-small,
		& > .vertical-margin-small,
		& > .vertical-margin-medium,
		& > .vertical-margin-large,
		& > .vertical-margin-huge {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}
}

// Center Text
.container-style-center-text {
	text-align: center;

	.yoast-breadcrumbs > span {
		justify-content: center;
	}
}

// Button row (Centered on mobile, equal widths, min 335px width)
@media ( max-width: $break_at_tablet ) {
	.container-style-button-row {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 20px;

		.button,
		.wp-block-buttons,
		.wp-block-button,
		.wp-block-button .wp-block-button__link {
			width: 100%;
		}

		// min width unless screen is too small
		width: min( 335px, 100% );

	}
}

// Custom gaps for columns, grids, etc
@mixin gapClassDesktop( $className, $pixels ) {
	#{$className},
	.editor-styles-wrapper #{$className} {

		// Scale based on screen size
		$vw: ($pixels / $design_width) * 100vw;
		gap: min( $pixels, $vw );

		// Half size for mobile, for 20px or larger gaps
		@if ( $pixels >= 20px ) {
			@media ( max-width: $break_at_tablet ) {
				gap: $pixels / 2;
			}
		}

	}
}

@mixin gapClassMobile( $className, $pixels ) {
	#{$className},
	.editor-styles-wrapper #{$className} {

		// No scaling for mobile gap sizes
		@media ( max-width: $break_at_tablet ) {
			gap: $pixels;
		}

	}
}

// Gap spacing (with scaling for large sizes)
// must match blocks.js -> register_container_gaps() -> stepsList
@include gapClassDesktop( '.gap-none', 0px );
@include gapClassDesktop( '.gap-2',    2px );
@include gapClassDesktop( '.gap-4',    4px );
@include gapClassDesktop( '.gap-6',    6px );
@include gapClassDesktop( '.gap-8',    8px );
@include gapClassDesktop( '.gap-12',  12px );
@include gapClassDesktop( '.gap-16',  16px );
@include gapClassDesktop( '.gap-20',  20px );
@include gapClassDesktop( '.gap-24',  24px );
@include gapClassDesktop( '.gap-40',  40px );
@include gapClassDesktop( '.gap-60',  60px );
@include gapClassDesktop( '.gap-80',  80px );


// Mobile gaps (non-scaling)
@include gapClassMobile( '.mobile-gap-none', 0px );
@include gapClassMobile( '.mobile-gap-2',    2px );
@include gapClassMobile( '.mobile-gap-4',    4px );
@include gapClassMobile( '.mobile-gap-6',    6px );
@include gapClassMobile( '.mobile-gap-8',    8px );
@include gapClassMobile( '.mobile-gap-12',  12px );
@include gapClassMobile( '.mobile-gap-16',  16px );
@include gapClassMobile( '.mobile-gap-20',  20px );
@include gapClassMobile( '.mobile-gap-24',  24px );
@include gapClassMobile( '.mobile-gap-40',  40px );
@include gapClassMobile( '.mobile-gap-60',  60px );
@include gapClassMobile( '.mobile-gap-80',  80px );

// Reverse order mobile
@media ( max-width: $break_at_tablet ) {
	.mobile-reverse-order {
		flex-direction: column-reverse;
	}
}

// Clear some default block styles
.wp-block-columns {
	margin-bottom: 0;
}

.wp-block-group,
.wp-block-column {
	> p:first-child {
		margin-top: 0;
	}
	> p:last-child {
		margin-bottom: 0;
	}
}

// Custom classes (added manually, currently)
// Used on (at least): About Us
.bottom-padding-250 {
	@media ( min-width: $break_at_desktop ) {
		padding-bottom: 250px;
	}
}

// Providers grid
// Used on: Meet Our Providers
.is-layout-flex.providers-grid {
	display: flex;
	max-width: 1420px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	gap: 24px;
}

.is-layout-flex.providers-grid > .wp-block-column {
	min-width: 170px !important;
	max-width: 270px !important;
	width: 100%;
}

// If we can't fit 4 providers on a row, do 2 columns
// 170px + 24px + 170px + 24px + 170px + 24px + 170px = 752px
@media ( max-width: 800px ) {
	.is-layout-flex.providers-grid {
		display: grid;
		grid-template-columns: minmax( 170px, 1fr ) minmax( 170px, 1fr );
	}
}

// One column
@media ( max-width: 560px ) {
	.is-layout-flex.providers-grid {
		display: flex;
		flex-direction: column;
		align-items: center !important;
	}
}

.wp-block-group.provider-section > .wp-block-group {
	display: grid;
	grid-template-columns: minmax(170px, 1fr) 4fr;

	@media ( max-width: $break_at_tablet ) {
		grid-template-columns: 1fr;

		h2 {
			align-self: center;
			margin: -25px 0 20px;
		}
	}
}