/* language list */
.language-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.language-list ul li {
	display: inline-block;
}

.language-list .sep {
	margin: 0;
	color: $color_gray_6;
	cursor: default;
	user-select: none;
}

.language-list .language {

}

.language-list .language a {
	display: inline-block;
	padding: 4px;
	color: $color_gray_4;
	text-decoration: none;

	&:hover {
		color: $color_black;
		font-weight: 500;
	}
}

.language-list .language.selected a {
	font-weight: 500;
	color: #0e0d0d;
}