/* Location styles */
.location .address,
.location .phone {
	display: grid;
	grid-template-columns: 38px auto;
	gap: 0 5px;
	align-items: center;

	font-weight: 500;
}

.location .phone a {
	color: #9069ac;
	text-decoration: none;
}

