/*
Icon type: Circle (type-circle)
*/
.gcm-icon {
	display: inline-block;
}

.gcm-icon svg {
	width: auto;
	height: auto;
}

.gcm-icon.type-circle {
	padding: 15px;
	border-radius: 100%;
}

.gcm-icon.type-circle {
	box-shadow: inset 0 0 0 1px #9069ac;
	background-color: #FAF4FF;
}

.gcm-icon.type-circle.color-blue {
	box-shadow: inset 0 0 0 1px #0957de;
	background-color: #F4F8FF;
}


.gcm-icon.type-circle.color-black {
	box-shadow: inset 0 0 0 1px #0e0d0d;
	background-color: #fafafa;
}


/*
[gcm_icon_list]
*/
table.gcm-icon-list {
}

table.gcm-icon-list th,
table.gcm-icon-list td {
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

table.gcm-icon-list tr th:first-child em {
	font-weight: 300;
}

table.gcm-icon-list tr > * {
	width: 120px;
	text-align: center;
}
table.gcm-icon-list tr > * span {
	display: inline-block;
}

table.gcm-icon-list tr > :first-child {
	width: 200px;
}

table.gcm-icon-list {
	position: relative;
}

table.gcm-icon-list thead {
	position: sticky;
	top: 0px;
	background: #fff;
}

body.admin-bar table.gcm-icon-list thead {
	top: 32px;
}

.gcm-icon-list .icon-wrap {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 80px;
}

.gcm-icon-list input[type="text"] {
	width: 100%;
	font-size: 10px;
	padding: 3px 0;
}